:root {
    --bg: '#1A1A1F';
    --card: '#0C0C0F';
    --border: '#292933';
    --title: '#F4F4F5';
    --textSecondary: '#A1A1AA';
    --detail: '#71717A';
    --accent: '#8F77FF';
    --accentSecondary: '#F2C45E';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, Arial, sans-serif;
    background-color: #0C0C0F;
    color: #F4F4F5;
}

/* LIST */
ul{
    list-style: none;
}
ul li {
    color: #A1A1AA;
}

/* TEXT´s*/

.title-main{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 32px;
}
.title-secondary{
    font-size: 1.5rem;
    font-weight: 600;

}
.text {
    color: #A1A1AA;
}

a{
    text-decoration: none;
    color: #F4F4F5;
    transition: .3s;
    font-weight: 600;
}
a:hover {
    color: #8b5ebf;
}

.link-button{
    display: inline-block;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 4px;
    font-weight: 400;
}
.link-button:hover{
    color: #F4F4F5;
}


span{
    color: #F4F4F5;
    font-weight: 600;
}

.error{
    text-align: center;
    color: #d9534f;
    font-size: 16px;
}

button{
    cursor: pointer;
    border: none;
}
.button-primary{
    background-color: #8b5ebf;
    border: none;
    font-weight: 600;
}
.button-primary:hover{
    background-color: #754aa6;
}
.button-primary:active{
    background-color: #644089;
}
.button-secondary{
    align-self: center;
    background-color: #292933;
}
.button-secondary:hover{
    background-color: #363744;
}
.button-secondary:active{
    background-color: #3d3e4f;
}

.button-danger{
    background-color: #d9534f;
    width: fit-content;
}
.button-danger:hover{
    background-color: #c73f3b;
}
.button-danger:active{
    background-color: #a7322e;
}

/* FORM */

form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
}

form input, button, form select, form textarea{
    width: 300px;
    padding: 12px 8px;
    font-size: 16px;
    color: #F4F4F5;
    border-radius: 4px;
    transition: .3s;
}

form input, form select, form textarea{
    background-color: #1A1A1F;
    border: 2px solid #292933;
}
form input:focus, form select:focus, form textarea:focus{
    outline: none;
    border: 2px solid #8b5ebf;
}


/* CARD */
.card{
    background-color: #1A1A1F;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #292933;
}


/* MODAL */
.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background: #1A1A1F;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}



/* AUTH */

.auth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.auth-container h1{
    color: #8b5ebf;
}
.auth-container p{
    margin-top: 16px;
    margin-bottom: 32px;
}
.auth-container h2{
    margin-bottom: 16px;
}

.auth-container .error{
    margin-top: 16px;
}

/* HEADER */

header {
    padding-block: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.logout{
    color: #c73f3b;
    transition: .3s;
}
.logout:hover{
    color: #a7322e;
}

footer {
    display: flex;
    padding-top: 25vh;
    justify-content: center;
    align-items: end;
    text-align: center;

}
.searchbar {
    display: flex;
    gap: 8px;
}

/* PAGES */

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    max-width: 1440px;
    margin-inline: auto;
}

.pagination {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.pagination a {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #45a049;
}

#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #292933;
    border-top: 6px solid #8b5ebf;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading-text {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* CARD RECOMENDAÇAO */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}


.card-recomendacao {
    width: 25%;
    background-color: #1A1A1F;
    border: 1px solid #292933;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 15px;
    color: #F4F4F5;
    word-wrap: break-word;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;
}
.resultado-ia {
    white-space: pre-wrap;
    margin-top: 8px;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.5;
}

.card-recomendacao:hover {
    transform: translateY(-5px);
}


@media (max-width: 1200px) {
    .card-recomendacao {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .card-recomendacao {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card-recomendacao {
        width: 90%;
    }
}

/* TABLE */

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1A1A1F;
    margin-bottom: 20px;
    border-radius: 12px;
    border:none;
}

.table th,
.table td {
    justify-content: start;
    padding: 10px 12px;
    color: #F4F4F5;
    text-align: center;
}

.table th {
    background-color: #8b5ebf;
    color: #fff;
}

.table .num {
    text-align: right;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #fff;
    padding: 8px;
    gap: 15px;

}
td.actions-cell {
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

td.actions-cell .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.info {
    background-color: #f9f9a9;
    color: #333;
    border-left: 4px solid #ffcc00;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 0.95rem;
}

.footer {
    margin-top: 16px;
}
