<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <section class="auth-container">
        <img th:src="@{/images/CareerUp-Logo.png}" alt="CareerUp logo" style="height: 96px; margin-bottom: 8px;">
        <h1 class="title-main">CareerUp - Cadastro</h1>
        <form th:action="@{/usuario/salvar}" th:object="${usuario}" method="post">
            <input type="text" id="nomeUsuario" th:field="*{nomeUsuario}" maxlength="150" placeholder="Nome de usuário" required/>
            <input type="text" id="cpf" th:field="*{cpf}" maxlength="20" placeholder="CPF" required/>
            <input type="text" id="email" th:field="*{email}" maxlength="100" placeholder="Email" required/>
            <input type="text" id="cargo" th:field="*{cargo}" maxlength="50" placeholder="Cargo" required/>

            <select id="papel" th:field="*{papel}">
                <option th:value="USUARIO">Usuário</option>
                <option th:value="GERENTE">Gerente</option>
            </select>
            <p class="text" style="margin-top: 0; margin-bottom: 16px;">
                *Este campo só está disponível por ser uma versão demo.
                Em produção, apenas administradores podem cadastrar gerentes.
            </p>

            <input type="text" id="login" th:field="*{loginUsuario.login}" placeholder="Login" required/>
            <input type="password" id="senha" th:field="*{loginUsuario.senha}" placeholder="Senha" required/>

            <input type="text" id="habilidadePrimaria" th:field="*{habilidades.habilidadePrimaria}" placeholder="Habilidade primária" required/>
            <input type="text" id="habilidadeSecundaria" th:field="*{habilidades.habilidadeSecundaria}" placeholder="Habilidade secundária"/>
            <input type="text" id="habilidadeTerciaria" th:field="*{habilidades.habilidadeTerciaria}" placeholder="Habilidade terciária"/>

            <button type="submit" class="button-primary">Cadastrar</button>
        </form>

        <p class="text">Já tem uma conta ? <a th:href="@{/login}">Logar-se</a></p>


    </section>

<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>
