<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Alterar Cargo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div th:replace="fragments/header :: headerFragment"></div>

<main class="page-container">

    <h1 class="title-main">Alterar Cargo</h1>
    <form th:action="@{'/usuario/' + ${usuario.idUsuario} + '/alterar-cargo'}"
          method="post"
          th:object="${usuario}" class="form">
        <input type="hidden" name="_method" value="patch"/>

        <div class="field">
            <label>ID:</label>
            <input type="text" th:value="${usuario.idUsuario}" readonly />
        </div>

        <div class="field">
            <label>Nome:</label>
            <input type="text" th:value="${usuario.nomeUsuario}" readonly />
        </div>

        <div class="field">
            <label>CPF:</label>
            <input type="text" th:value="${usuario.cpf}" readonly />
        </div>

        <div class="field">
            <label>Papel:</label>
            <input type="text" th:value="${usuario.papel}" readonly />
        </div>

        <div class="field">
            <label>Login:</label>
            <input type="text" th:value="${usuario.loginUsuario.login}" readonly />
        </div>

        <div class="field">
            <label>Habilidade Primária:</label>
            <input type="text" th:value="${usuario.habilidades.habilidadePrimaria}" readonly />
        </div>

        <div class="field">
            <label>Novo Cargo:</label>
            <input type="text" name="novoCargo" placeholder="Digite o novo cargo" required />
        </div>

        <div style="display:flex; justify-content:center; gap:10px; margin-top:1.5em; align-items: center">
            <button type="submit" class="button-primary">Salvar</button>
            <a th:href="@{/usuario/listar}" class="btn-secondary">Cancelar</a>
        </div>
    </form>
</main>

<div th:replace="fragments/footer :: footerFragment"></div>

</body>
</html>
