<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exportar Recomendação</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div th:replace="fragments/header :: headerFragment"></div>

<div class="page-container">

    <h1 class="title-main">Exportar Recomendação mais recente</h1>

    <div th:if="${mensagemSucesso}" class="info"
         th:text="${mensagemSucesso}"></div>


    <div th:if="${mensagemErro}" class="error"
         th:text="${mensagemErro}"
         style="font-size: 1rem; margin-bottom: 1rem;"></div>


    <form th:action="@{/recomendacao/exportar}" method="post" class="form" style="width: 320px;">
        <input type="number" name="idUsuario" placeholder="ID do usuário" required>

        <button type="submit" class="button-primary" style="margin-top: 10px;">
            Exportar
        </button>
    </form>



    <div th:if="${jsonResultado}" style="display: flex; flex-direction: column; gap: 8px; margin-top: 32px;">
        <h3 class="title-secondary">Resultado (JSON):</h3>
        <pre id="jsonPre" class="card" style="background-color: #1A1A1F; color: #F4F4F5; white-space: pre-wrap; margin-top: 16px;"
             th:text="${jsonResultado}"></pre>
        <button id="downloadJsonBtn" class="button-secondary" style="align-items: center">Baixar JSON</button>
    </div>

</div>


<div th:replace="fragments/footer :: footerFragment"></div>


<<script th:if="${jsonResultado}">
    document.getElementById('downloadJsonBtn').addEventListener('click', function() {


        const jsonStr = document.querySelector('#jsonPre').textContent;

        const blob = new Blob([jsonStr], { type: 'application/json' });
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = 'resultado.json';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        URL.revokeObjectURL(url);

    });
</script>
</body>
</html>
